{% extends "templates/master.twig" %}
{% block style %}
    <link rel="stylesheet" href="/css/register.style.css">
{% endblock %}
{% block body %}
    <div id="logging-area">
        <h1>Register</h1>
        <div id="logging-form">
            <form action="/register/new" method="post" enctype="multipart/form-data">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                {% if errors['username'] %}
                    <p id="validation-error">{{errors['username']}}</p>
                {% endif %}
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                {% if errors['password'] %}
                    <p id="validation-error">{{errors['password']}}</p>
                {% endif %}
                <br>
                <label for="pfp">Profile Picture </label>
                <input type="file" name="picture" id="pfp" accept="image/*">
                <br>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                {% if errors['email'] %}
                    <p id="validation-error">{{errors['email']}}</p>
                {% endif %}
                <br>
                {% if errors['file'] %}
                    <p id="validation-error">{{errors['file']}}</p>
                {% endif %}
                {% if errors['exist'] %}
                    <p id="validation-error">{{errors['exist']}}</p>
                    <br>
                {% endif %}
                <button>Register</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="/js/register.js"></script>
{% endblock %}